<div class="mx-4 text-primary">
  {{fb-share-button
    url=url
    quote=title
  }}
</div>

<div class="mx-4 text-primary">
  {{twitter-share-button
    title=title
    text=description
    url=url
  }}
</div>

<div class="mx-4 text-primary">
  {{#if smsLink}}
    <button
      type="button"
      class="sms-share-button"
      {{action "shareSMS"}}
    >
      <i class="fas fa-comments"></i>
    </button>

  {{else}}
    <button
      type="button"
      class="sms-share-button"
      {{action "shareEmail"}}
    >
      <i class="fas fa-envelope"></i>
    </button>
  {{/if}}
</div>
