<div class="mx-4 text-primary">
  {{fb-share-button
    url=url
    quote=title
  }}
</div>

<div class="mx-4 text-primary">
  {{twitter-share-button
    title=title
    text=description
    url=url
  }}
</div>

<div class="mx-4 text-primary">
  {{#if smsLink}}
    <a
      class="sms-share-button"
      href={{smsLink}}
    >
      <i class="fas fa-comments"></i>
    </a>

  {{else}}
    <a
      class="sms-share-button"
      href="mailto:?subject={{title}}&body={{url}}"
      {{action "trackSMSShare"}}
    >
      <i class="fas fa-envelope"></i>
    </a>
  {{/if}}
</div>
