<div class="card px-2 py-4 bg-terminal border border-terminal">
  <div class="signup-label">
    {{#if isNameTaken}}
      <h4 class="terminal-text">
        That name is already taken!
      </h4>

    {{else}}
      <h4 class="terminal-text">
        Enter a unique name
      </h4>
    {{/if}}
  </div>

  <form
    class="signup-form d-flex flex-column justify-content-end align-items-center"
  >
    <div class="form-group row mx-3 mt-md-3 mb-3">
      <label
        for="player-name"
        class="col-1 col-form-label"
      >
        <h4>
          <i class="fas fa-angle-right"></i>
        </h4>
      </label>

      <div class="col d-flex align-items-center pl-0">
        {{input
          id="player-name"
          classNames="form-control form-control-lg input-dark"
          type="text"
          autofocus="true"
          value=playerName
          key-up=(action "validatePlayerName")
        }}
      </div>
    </div>

    {{#if playerName}}
      {{#if validInput}}
        <button
          class="btn btn-terminal btn-lg"
          {{action "createPlayer" value}}
        >
          New Game
        </button>
      {{else}}
        <p class="terminal-text font-italic">{{invalidButtonText}}</p>
      {{/if}}
    {{else}}
      <p class="terminal-text">...</p>
    {{/if}}
  </form>
</div>
