<div class="card px-2 py-4 bg-terminal border border-terminal">
  <div class="signup-label">
    {{#if isNameTaken}}
      <h4 class="text-terminal">
        That name is already taken!
      </h4>

    {{else}}
      <h4 class="text-terminal">
        Enter a unique name
      </h4>
    {{/if}}
  </div>

  <form class="signup-form d-flex flex-column align-items-center">
    {{input
      type="text"
      value=playerName
      key-up=(action "validatePlayerName")
      autofocus="true"
      classNames="form-control form-control-lg input-dark mt-md-3"
    }}

    {{#if playerName}}
      {{#if validInput}}
        <button
          class="btn btn-terminal btn-lg"
          {{action "createPlayer" value}}
        >
          New Game
        </button>
      {{else}}
        <p class="text-terminal font-italic text-warning">{{invalidButtonText}}</p>
      {{/if}}
    {{/if}}
  </form>
</div>
