<div class="signup-label">
  {{#if isNameTaken}}
    <h4>That name is already taken!</h4>

  {{else}}
    <h4>Enter a unique name</h4>
  {{/if}}
</div>

<form class="signup-form">
  {{input
    type="text"
    value=playerName
    key-up=(action "validatePlayerName")
    autofocus="true"
    classNames="form-control form-control-lg mt-md-3"}}

  {{#if validInput}}
    <button
      class="btn btn-primary btn-lg btn-block"
      {{action "createPlayer" value}}>
      New Game
    </button>
  {{else}}
    <button class="btn btn-primary btn-disabled btn-block border-0">
      {{invalidButtonText}}
    </button>
  {{/if}}
</form>
