<div
  class="col-12 col-md-8 col-lg-6 px-0 p-2 py-sm-2 px-sm-4 px-md-1 border-bottom border-secondary"
>
  <div class="d-flex align-items-center justify-content-between mx-1">
    <button
      class="btn btn-simple px-0"
      {{action "toggleStatsBar" "#fundsHelp"}}
    >
      {{format-money playerFunds precision=0}}
      <i class="fas fa-caret-down ml-1 ml-md-3"></i>
    </button>

    <button
      class="btn btn-simple px-0 text-danger"
      {{action "toggleStatsBar" "#debtHelp"}}
    >
      {{format-money playerDebt precision=0}}
      <i class="fas fa-caret-down ml-1 ml-md-3"></i>
    </button>

    <button
      class="btn btn-simple px-0"
      {{action "toggleStatsBar" "#turnsHelp"}}
    >
      {{turnsLeft}}
      <i class="fas fa-caret-down ml-1 ml-md-3"></i>
    </button>

    <button
      class="btn btn-simple px-0"
      {{action "toggleStatsBar" "#gameHelp"}}
    >
      <i class="fas fa-cog"></i>
    </button>
  </div>

  <div
    id="fundsHelp"
    class="collapse"
    data-parent="#stats-bar"
  >
    <div
      class="card card-body pb-0 bg-black border-left-0 border-right-0 border-bottom-0"
    >
      {{#if isFirstTurn}}
        <p>
          Congratulations, you now have
          {{format-money playerFunds precision=0}}
          to buy cuts in the market.
        </p>

        <p>Remember: buy low, sell high!</p>

        <div class="row justify-content-end">
          <button
            class="btn btn-secondary btn-sm"
            {{action "closeFundsTutorial"}}
          >
            Close
          </button>
        </div>

      {{else}}
        <p>
          You have
          {{format-money playerFunds precision=0}}
          to buy meat from the
          {{~#link-to "market" class="link-text"}}
            market
          {{/link-to~}}
          , then sell it for a profit.
        </p>

        <div class="row justify-content-end">
          <button
            class="btn btn-secondary btn-sm"
            {{action "toggleStatsBar" "#fundsHelp"}}
          >
            Close
          </button>
        </div>

      {{/if}}
    </div>
  </div>

  <div
    id="debtHelp"
    class="collapse"
    data-parent="#stats-bar"
  >
    <div
      class="card card-body pb-0 bg-black border-left-0 border-right-0 border-bottom-0"
    >
      {{#if (gt playerDebt 0)}}

        {{#if isSecondTurn}}
          <p>
            Your debt went up by 15<span class="percent"></span>.
            Keep an eye on what you owe, you can't win if you're a deadbeat.
          </p>

          <div class="row justify-content-end">
            <button
              class="btn btn-secondary btn-sm"
              {{action "closeDebtTutorial"}}
            >
              Close
            </button>
          </div>

        {{else}}
          <p>
            You still owe
            {{format-money playerDebt precision=0}}
            on your loan. Hurry up, it's got a 15<span class="percent">%</span> interest rate.
          </p>

          {{#if (gt playerFunds playerDebt)}}
            <button class="btn btn-secondary btn-sm">
              Pay it off
            </button>
          {{/if}}

          <div class="row justify-content-end">
            <button
              class="btn btn-secondary btn-sm"
              {{action "toggleStatsBar" "#debtHelp"}}
            >
              Close
            </button>
          </div>
        {{/if}}

      {{else}}
        <p>You've paid your debt.</p>

        <div class="row justify-content-end">
          <button
            class="btn btn-secondary btn-sm"
            {{action "toggleStatsBar" "#debtHelp"}}
          >
            Close
          </button>
        </div>
      {{/if}}
    </div>
  </div>

  <div
    id="turnsHelp"
    class="collapse"
    data-parent="#stats-bar"
  >
    <div
      class="card card-body pb-0 bg-black border-left-0 border-right-0 border-bottom-0"
    >
      {{#if isFirstTurn}}
        <p>
          Remember, the clock's ticking. You have 24 hours to hustle before it's time to cross the border.
        </p>

        <div class="row justify-content-end">
          <button
            class="btn btn-secondary btn-sm"
            {{action "closeTurnsTutorial"}}
          >
            Close
          </button>
        </div>


      {{else}}
        <p>You have {{turnsLeft}} hours remaining.</p>

        <div class="row justify-content-end">
          <button
            class="btn btn-secondary btn-sm"
            {{action "toggleStatsBar" "#turnsHelp"}}
          >
            Close
          </button>
        </div>

      {{/if}}
    </div>
  </div>

  <div
    id="gameHelp"
    class="collapse"
    data-parent="#stats-bar"
  >
    <div
      class="card card-body pb-0 bg-black border-left-0 border-right-0 border-bottom-0"
    >
      <div
        class="d-flex align-items-center justify-content-around my-3"
      >
        <div class="btn-group w-100">
          <button
            class="btn btn-secondary btn-sm btn-eq-flex"
            {{action "quitGame"}}
          >
            Quit Game
          </button>

          {{#link-to "all-scores" class="btn btn-secondary btn-sm btn-eq-flex"}}
            High Scores
          {{/link-to}}
        </div>
      </div>

      <div class="container px-0">
        <div class="row align-items-center justify-content-center px-2">
          <p class="small text-center px-2">
            Powered by Elixir/Phoenix, Ember.js, and backyard-roasted lamb.
          </p>

          <p class="small">
            2018
            <i class="far fa-copyright"></i>
            &nbsp;
            Jon Choukroun
          </p>
        </div>

        <div class="row justify-content-end">
          <button
            class="btn btn-secondary btn-sm"
            {{action "toggleStatsBar" "#gameHelp"}}
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
