<div class="container-fluid mt-3">
  <div class="row justify-content-center px-0">
    <div class="col-12 col-sm-10 col-md-6">
      <div class="d-flex w-100 mb-0 mb-lg-1 justify-content-center">
        <h5 class="page-title">Game Over</h5>
      </div>

      {{#if isHighestScore}}
        <h6 class="text-center">You set a new record!</h6>

        <h3 class="mx-5 digital-text text-danger text-center">
          {{format-money playerScore precision=0}}
        </h3>

        <div class="my-3">
          <p>
            You made enough money to leave behind crumbling LA and retire in luxury.
          </p>
        </div>

        <div class="my-2 mx-1 py-3 container">
          <div class="row justify-content-center px-0">
            <h6 class="text-uppercase border-bottom border-dark pb-1">Runners up</h6>
          </div>

          {{#each lowerScores as |score|}}
            <div class="row justify-content-around">
              <div class="col-2 text-right">
                <p class="m-1 terminal-text">{{score.rank}}</p>
              </div>

              <div class="col-5 px-0 text-left text-truncate">
                <p class="m-1 terminal-text">{{score.player}}</p>
              </div>

              <div class="col-4 pl-0 text-right text-truncate">
                <p class="m-1 terminal-text">{{format-money score.score precision=0}}</p>
              </div>
            </div>
          {{/each}}
        </div>

      {{else}}
        <div class="m-2 border-bottom border-black text-center">
          <h6>Reigning Champ:</h6>

          <h5 class="m1 text-danger">
            {{highestScore.player}}:
            <span class="digital-text-large">
              {{format-money highestScore.score precision=0}}
            </span>
          </h5>
        </div>

        <div class="my-2 container-fluid">
          {{#if (gt playerScoreIndex 0)}}
            {{#each higherScores as |score|}}
              <div class="row justify-content-around">
                <div class="col-2 pl-0 text-right">
                  <p class="m-1 terminal-text">
                    {{score.rank}}.
                  </p>
                </div>

                <div class="col-5 px-0 text-left text-truncate">
                  <p class="m-1 terminal-text">
                    {{score.player}}
                  </p>
                </div>

                <div class="col-5 pl-0 text-right text-truncate">
                  <p class="m-1 terminal-text">
                    {{format-money score.score precision=0}}
                  </p>
                </div>

              </div>

            {{/each}}

            <div class="row justify-content-center my-1 py-1">
              <p class="m-1 text-danger">
                <b>
                  You: {{format-money playerScore precision=0}}
                </b>
              </p>
            </div>

            {{#each lowerScores as |score|}}
              <div class="row justify-content-around">
                <div class="col-2 pl-0 text-right">
                  <p class="m-1 terminal-text">
                    {{score.rank}}.
                  </p>
                </div>
                <div class="col-5 px-0 text-left text-truncate">
                  <p class="m-1 terminal-text">
                    {{score.player}}
                  </p>
                </div>
                <div class="col-5 pl-0 text-right text-truncate">
                  <p class="m-1 terminal-text">
                    {{format-money score.score precision=0}}
                  </p>
                </div>
              </div>

            {{/each}}

            <div class="mt-4 border-top border-black">
              <p class="text-center">
                You have enough to bribe the <span class="font-italic">coyote</span>, can you do even better next time?
              </p>
            </div>

          {{else}}
            <h6 class="text-center">
              Your score:
            </h6>

            <h3 class="text-danger digital-text text-center">
              {{format-money playerScore precision=0}}
            </h3>

            <p>
              Terrible. You didn't make enough to bribe the <span class="font-italic">coyote</span> and you're stuck in LA. Try again before someone harvests your flesh.
            </p>

          {{/if}}
        </div>

      {{/if}}
    </div>
  </div>
</div>
