<div class="d-flex flex-column">
  <h3 class="my-3 text-center">
    You're out of rides!
  </h3>

  {{#if hasLooseEnds}}
    <p class="px-2">
      Tie up your loose ends:
    </p>

    {{#if (gt playerDebt 0)}}
      <p class="text-center">
        You owe ${{number-format playerDebt decimals=0 thousandsSeparator=","}}...
      </p>

      {{#if (and (gt playerFunds playerDebt) (eq currentStation 'downtown'))}}
        {{#link-to 'bank' class="btn btn-secondary my-0"}}
          Pay your debt
        {{/link-to}}
      {{else}}
        <p>But you can't pay it off, deadbeat.</p>
      {{/if}}
    {{/if}}

    {{#if (gt totalCutsOwned 0)}}
      <p class="text-center">
        You're carrying {{totalCutsOwned}}
        {{#if (eq totalCutsOwned 1)}}
          lb...
        {{else}}
          lbs...
        {{/if}}
      </p>

      {{#link-to 'market' class="btn btn-secondary my-0"}}
        Sell your inventory
      {{/link-to}}
    {{/if}}

    <div class="btn btn-secondary btn-block btn-lg align-self-center" {{action 'retirePlayer'}}>
      Cross the border anyway
    </div>

  {{else}}

    <p class="px-2">
      Are you ready to cross the border and escape the Republic of LA?
    </p>

    <div class="container">
      <div class="row justify-content-center">
        <div class="btn-group w-100">
          {{#link-to 'market' class="btn btn-secondary btn-lg btn-eq-flex"}}
            Not yet
          {{/link-to}}

          <div class="btn btn-secondary btn-lg btn-eq-flex" {{action 'retirePlayer'}}>
            Book it!
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>
