<div class="bg-terminal py-3 border border-terminal">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between align-items-center mb-4">
      <div class="col-8">
        <h4 class="terminal-text text-capitalize mb-0 ml-3">
          Buy {{cutName}}?
        </h4>
      </div>

      <div class="col-4 d-flex justify-content-end">
        <button
          class="btn btn-simple btn-sm"
          type="button"
          {{action "clickBack"}}
        >
          Close
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-5 offset-1 col-lg-4 d-flex align-items-end">
        <p class="terminal-text mb-2">Available:</p>
      </div>

      <div class="col-4 d-flex align-items-end">
        <p class="terminal-text mb-2">
          {{format-number cutsAvailable precision=0}}
          {{#if (eq cutsAvailable 1)}}
            lb
          {{else}}
            lbs
          {{/if}}
        </p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-5 offset-1 col-lg-4 d-flex align-items-end">
        <p class="terminal-text mb-2">Price:</p>
      </div>

      <div class="col-4 d-flex align-items-end">
        <p class="terminal-text mb-2">
          {{format-money cutPrice precision=0}}
        </p>
      </div>
    </div>

    <form
      class="transaction-form align-self-center"
      {{action "submitBuyCut" on="submit"}}
    >
      <div class="form-group row d-flex align-items-center mb-1 ml-3">
        <label
          for="buy-input"
          class="col-1 col-form-label px-0"
        >
          <h4>
            <i class="fas fa-angle-right"></i>
          </h4>
        </label>

        <div class="col d-flex align-items-center pl-0">
          {{input
            id="buy-input"
            value=buyAmount
            type="text"
            pattern="[0-9]*"
            placeholder=maxCanBuyPlaceholder
            autofocus="true"
            classNames="form-control form-control-lg pl-0"
            key-up=(action "calculateCost")
          }}
        </div>
      </div>

      {{#if (not buyAmount)}}
        <div class="d-flex flex-column align-items-center justify-content-center">
          <button
            class="btn btn-terminal"
            {{action "clickBuyMax"}}
          >
            Buy {{format-number maxCanBuy precision=0}}
            {{#if (eq maxCanBuy 1)}}
              lb
            {{else}}
              lbs
            {{/if}}
          </button>
        </div>

      {{else}}
        <div class="d-flex justify-content-center">
          {{#if invalidBuy}}
            <button class="btn btn-terminal btn-terminal-disabled">
              Can't buy {{format-number buyAmount precision=0}}
              {{#if (eq buyAmount "1")}}
                lb
              {{else}}
                lbs
              {{/if}}
            </button>
          {{else}}
            <button type="submit" class="btn btn-terminal">
              Buy {{format-number buyAmount precision=0}}
              {{#if (eq buyAmount "1")}}
                lb
              {{else}}
                lbs
              {{/if}}
            </button>
          {{/if}}
        </div>
      {{/if}}

      <p
        class="terminal-text text-center mt-2"
      >
        Your cost:
        {{#if buyAmount}}
          {{format-money estimatedCost precision=0}}
        {{else}}
          {{format-money maxCanBuyCost precision=0}}
        {{/if}}
      </p>
    </form>
  </div>
</div>
