{{#if showBuyForm}}
  {{market/buy-menu
    cutName=buyingCut
    sendBuyMenuClose=(action "closeBuyMenu")
  }}
{{/if}}

{{#if showSellForm}}
  {{market/sell-menu
    cutName=sellingCut
    sendSellMenuClose=(action "closeSellMenu")
  }}
{{/if}}

{{#each-in marketCuts as |cut market|}}
  {{market/cut-entry
    cut=cut
    price=market.price
    quantity=market.quantity
    sendOpenBuyMenu=(action "openBuyMenu")
    sendOpenSellMenu=(action "openSellMenu")
  }}
{{/each-in}}

<div class="flex-row mt-3 mx-1 mx-md-5 pt-2 px-2 border-top border-black">
  <p class="small text-right mb-1">
    <b>Total:</b>
    {{totalWeightCarried}}/{{packSpace}} lbs
  </p>
</div>
