<div class="bg-terminal py-3 border border-terminal">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between align-items-center mb-5">
      <div class="col-8">
        <h4 class="terminal-text text-capitalize mb-0 ml-3">
          Sell {{cutName}}
        </h4>
      </div>

      <div class="col-4 d-flex justify-content-end">
        <button
          class="btn btn-simple btn-sm"
          type="button"
          {{action "clickBack"}}
        >
          Close
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex align-items-end">
        <h6 class="terminal-text">Pack:</h6>
      </div>

      <div class="col d-flex align-items-end">
        <h6 class="terminal-text">
          {{format-number cutsOwned precision=0}}
          {{#if (eq cutsOwned 1)}}
            lb
          {{else}}
            lbs
          {{/if}}
        </h6>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col d-flex align-items-end">
        <h6 class="terminal-text">Total:</h6>
      </div>

      <div class="col d-flex align-items-end">
        <h6 class="terminal-text">
          {{#if sellAmount}}
            {{format-money estimatedProfit precision=0}}
          {{else}}
            {{format-money cutsOwnedProfit precision=0}}
          {{/if}}
        </h6>
      </div>
    </div>

    <form
      class="transaction-form align-self-center"
      {{action "submitBuyCut" on="submit"}}
    >
      <div class="form-group row d-flex align-items-center mb-3 ml-3">
        <label
          for="buy-input"
          class="col-1 col-form-label px-0"
        >
          <h4>
            <i class="fas fa-angle-right"></i>
          </h4>
        </label>

        <div class="col d-flex align-items-center pl-0">
          {{input
            id="sell-input"
            value=sellAmount
            type="text"
            pattern="[0-9]*"
            placeholder=cutsOwnedPlaceholder
            autofocus="true"
            classNames="form-control form-control-lg pl-0"
            key-up=(action "calculateProfit")
          }}
        </div>
      </div>

      {{#if (not sellAmount)}}
        <div class="d-flex flex-column align-items-center justify-content-center">
          <button
            class="btn btn-terminal"
            {{action "clickSellMax"}}
          >
            Sell all {{format-number cutsOwned precision=0}}
          </button>
        </div>

      {{else}}
        <div class="d-flex justify-content-center">
          {{#if invalidSell}}
            <button class="btn btn-terminal btn-terminal-disabled">
              Can't sell {{format-number sellAmount precision=0}}
              {{#if (eq sellAmount "1")}}
                lb
              {{else}}
                lbs
              {{/if}}
            </button>
          {{else}}
            <button type="submit" class="btn btn-terminal">
              Sell {{format-number sellAmount precision=0}}
              {{#if (eq sellAmount "1")}}
                lb
              {{else}}
                lbs
              {{/if}}
            </button>
          {{/if}}
        </div>
      {{/if}}

      <p class="small terminal-text text-center mt-2">Or enter a different amount.</p>
    </form>
  </div>
</div>
