{{#if isFirstTurn}}
  <p>Come back here to pay off your debt when you have enough cash.</p>
  <p>Don't take too long, that interest accrues fast!</p>

  {{#link-to "market" class="btn btn-secondary btn-lg btn-block"}}
    Hit the market
  {{/link-to}}
{{else}}
  <p>Time to pay your debt.</p>

  <p>You owe ${{number-format playerDebt decimals=0 thousandsSeparator=","}} with a {{number-format currentDebtRate decimals=0 thousandsSeparator=","}}% interest rate. Next turn, you will owe ${{number-format nextTurnDebt decimals=0 thousandsSeparator=","}}.</p>

  <p>Are you ready to pay?</p>

  <div class="btn-group w-100">
    <button class="btn btn-secondary btn-lg btn-eq-flex" {{action "payDebt"}}>Pay in full</button>

    {{#link-to "market" class="btn btn-secondary btn-lg btn-eq-flex"}}
      Not yet
    {{/link-to}}
  </div>
{{/if}}
