{{#if inTransaction}}
  {{transition-animation}}
{{/if}}

<div id="{{item}}-item-header" class="card-header px-0 py-1">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h5 class="mb-0">
      {{itemName}}
    </h5>
    <button
      class="btn btn-secondary btn-sm"
      data-toggle="collapse"
      data-target="#{{item}}-item-body"
    >
      More
    </button>
  </div>
</div>

<div
  id="{{item}}-item-body"
  class="collapse border-bottom border-black"
  data-parent="#storeAccordion"
>
  <div class="card-body px-0 pt-0">
    <div class="row">
      <div class="col d-flex flex-column justify-content-center">
        {{#if alreadyOwned}}
          <p class="small disabled">Already owned</p>
        {{else}}
          <p class="small">Price: {{format-money itemPrice precision=0}}</p>
        {{/if}}

        {{#if itemSpace}}
          <p class="small">Capacity: {{itemSpace}} lbs</p>
        {{else}}
          {{#if canHarvest}}
            <p class="small">Can harvest: {{canHarvest}}.</p>
          {{else}}
            <p class="small">No harvest ability.</p>
          {{/if}}
        {{/if}}

      </div>

      <div class="col d-flex align-items-center justify-content-center">
        {{#if alreadyOwned}}
          <button
            class="btn btn-secondary btn-block"
            {{action "dropItem"}}
          >
            Drop
          </button>

        {{else}}
          <button
            class="btn btn-secondary btn-block"
            {{action "buyItem"}}
          >
            Buy
          </button>

        {{/if}}
      </div>
    </div>
  </div>
</div>
