{{#if (eq storeScreen "weapons")}}

  <div id="storeAccordion" class="accordion">
    {{#each-in weaponsInventory as |weapon details|}}
      {{store/item-details item=weapon details=details}}
    {{/each-in}}
  </div>

  <div class="container-fluid mt-5">
    <button class="btn btn-secondary btn-block" {{action "back"}}>
      Back
    </button>
  </div>

{{else if (eq storeScreen "packs")}}

  <div id="storeAccordion" class="accordion">
    {{#each-in packsInventory as |pack details|}}
      {{store/item-details item=pack details=details}}
    {{/each-in}}
  </div>

  <div class="container-fluid mt-5">
    <button class="btn btn-secondary btn-block" {{action "back"}}>
      Back
    </button>
  </div>

{{else}}
  <div class="container-fluid">
    <div class="text-center mt-2">
      <h1 class="text-warning">Bell Gardens</h1>
      <p class="text-secondary">Home of Gus's Army Surplus</p>
    </div>

    <div class="row">
      <div class="col-4 d-flex flex-column justify-content-center align-items-center">
        <div class="display-2">
          <ion-icon name="person"></ion-icon>
        </div>
      </div>
      <div
        class="col-8 d-flex flex-column justify-content-center align-items-start px-0"
      >
        <p>
          "Welcome to the last bastion of freedom in LA! We got the best gear in town.
        </p>
        <p>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid px-0">

    <p>
      "It's a dangerous world. A little protection can turn the tables on a mugger."
    </p>

    <button class="btn btn-secondary btn-block mb-4" {{action "showWeaponsStore"}}>
      See Weapons
    </button>

    <p>
      "Carry more meat with these items. Muggers will notice you more, too."
    </p>

    <button class="btn btn-secondary btn-block" {{action "showPacksStore"}}>
      See Packs
    </button>

  </div>
{{/if}}
