{{#if (eq storeScreen "weapons")}}

  <div id="storeAccordion" class="accordion">
    {{#each-in weaponsInventory as |weapon details|}}
      {{store/item-details item=weapon details=details}}
    {{/each-in}}
  </div>

  <div class="container-fluid mt-5">
    <button class="btn btn-secondary btn-block" {{action "back"}}>
      Back
    </button>
  </div>

{{else if (eq storeScreen "packs")}}

  <div id="storeAccordion" class="accordion">
    {{#each-in packsInventory as |pack details|}}
      {{store/item-details item=pack details=details}}
    {{/each-in}}
  </div>

  <div class="container-fluid mt-5">
    <button class="btn btn-secondary btn-block" {{action "back"}}>
      Back
    </button>
  </div>

{{else}}
  <div class="container-fluid">
    <div class="d-flex flex-row justify-content-center my-2">
      <h2 class="text-secondary">Gus's Army Surplus</h2>
    </div>

    <div class="row">
      <div class="col-4 d-flex flex-column justify-content-center align-items-center">
        <div class="display-2">
          <ion-icon name="person"></ion-icon>
        </div>
      </div>
      <div
        class="col-8 d-flex flex-column justify-content-center align-items-start px-0"
      >
        <p>
          "Welcome to the last bastion of freedom in LA! We carry all the gear a Meat Hustler like you might need."
        </p>
        <p>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid px-0">

    <p>"It's a dangerous world. Carrying some protection might let you turn the tables on a mugger."</p>

    <button class="btn btn-secondary btn-block mb-5" {{action "showWeaponsStore"}}>
      See Weapons
    </button>

    <p>"The items will let you carry more weight, but they'll definitely attract more attention from muggers."</p>

    <button class="btn btn-secondary btn-block" {{action "showPacksStore"}}>
      See Packs
    </button>

  </div>
{{/if}}
