{{#if (eq storeScreen "weapons")}}

  <div
    id="storeAccordion"
    class="accordion"
  >
    {{#each-in weaponsInventory as |weapon details|}}
      {{store/item-details item=weapon details=details}}
    {{/each-in}}
  </div>

  <div class="container-fluid mt-5">
    <button class="btn btn-secondary btn-block" {{action "back"}}>
      Back
    </button>
  </div>

{{else if (eq storeScreen "packs")}}

  <div id="storeAccordion" class="accordion">
    {{#each-in packsInventory as |pack details|}}
      {{store/item-details item=pack details=details}}
    {{/each-in}}
  </div>

  <div class="container-fluid mt-5">
    <button class="btn btn-secondary btn-block" {{action "back"}}>
      Back
    </button>
  </div>

{{else}}
  <div class="container-fluid p-0">
    <div
      class="d-flex flex-column w-100 mb-0 mb-lg-1 justify-content-center align-items-center"
    >
      <h5 class="page-title mb-0">Bell Gardens</h5>
      <p class="small text-danger">Home of Gus's Army Surplus</p>
    </div>

    <div class="row">
      <div class="col-4 d-flex flex-column justify-content-center align-items-center">
        <div class="display-2">
          <i class="fas fa-user"></i>
        </div>
      </div>
      <div
        class="col-8 d-flex flex-column justify-content-center align-items-start px-0"
      >
        <p>
          "Welcome to the last bastion of freedom in LA! We got the best gear in town.
        </p>
        <p>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid px-0">

    <p>
      "It's a dangerous world. A little protection can turn the tables on a mugger."
    </p>

    <button
      class="btn btn-secondary btn-block mb-4"
      {{action "showWeaponsStore"}}
    >
      <span class="letter-spacing-max">See Weapons</span>
    </button>

    <p>
      "Carry more meat with these items. Muggers will notice you more, too."
    </p>

    <button
      class="btn btn-secondary btn-block"
      {{action "showPacksStore"}}
    >
      <span class="letter-spacing-max">See Packs</span>
    </button>

  </div>
{{/if}}
