{{#if inFight}}
  {{transition-animation}}
{{/if}}

<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-6 mt-md-4">

    {{#if inProgress}}
      <div class="text-center border-bottom border-black mb-3">
        <h1 class="display-1 text-danger">
          <i class="fas fa-user-ninja"></i>
        </h1>
      </div>

      <p>
        One of the city's relentless muggers,
        {{muggerName}}, follows you from the station.
      </p>

      <p>
        Pulling a well-used blade, he charges you. You have a split second to react.
      </p>

      {{#if (gt turnsLeft 0)}}
        <button class="btn btn-secondary btn-lg btn-block my-4" {{action "fightMugger"}}>
          Fight
        </button>
      {{/if}}

      {{#if (or (gte playerFunds 500) (gt totalCutsOwned 0))}}
        <button class="btn btn-secondary btn-lg btn-block" {{action "bribeMugger"}}>
          Bribe
        </button>

      {{else}}
        <button class="btn btn-secondary btn-lg btn-block">Oh shit!</button>
      {{/if}}

    {{else if (gt turnsLost 0)}}

      {{muggings/mugging-defeat turnsLost=turnsLost}}

    {{else if (gt fundsLost 0)}}

      {{muggings/offered-funds fundsLost=fundsLost muggerName=muggerName}}

    {{else if hasLostCut}}

      {{muggings/offered-cuts cutLost=cutLost muggerName=muggerName}}

    {{else}}

      {{muggings/mugging-victory cutsHarvested=cutsHarvested muggerName=muggerName}}

    {{/if}}

  </div>
</div>
