<div class="text-center border-bottom border-black mb-3">
  <h1 class="display-1 text-danger">
    <i class="far fa-frown"></i>
  </h1>
</div>

<p>
  You offer up
  {{format-number lossAmount precision=0}}
  {{#if (eq lossAmount 1)}}
    lb
  {{else}}
    lbs
  {{/if}}
  of {{cutName}} and hope
  {{muggerName}}
  doesn't ask for more.
</p>

<p>Looks like you live to fight another day. Personal protection might be a good investment.</p>

{{#link-to "market" class="btn btn-secondary btn-lg btn-block"}}
  {{randomDefeatedButton}}
{{/link-to}}
