<div class="container-fluid p-0">
  <div class="row align-items-center justify-content-center m-0">
    <div class="col-12 col-xl-8 p-0">

      {{outlet}}

      {{#if confirmationNotification}}
        {{#liquid-wormhole
          class="notification bg-opaque border border-primary"
        }}
          <p class="mb-0 text-center text-primary font-weight-bold">
            {{confirmationNotification}}
          </p>
        {{/liquid-wormhole}}
      {{/if}}

      {{#if errorNotification}}
        {{#liquid-wormhole
          class="error-message bg-opaque border border-danger text-center"
        }}
          <p class="mb-0 text-danger">
            {{errorNotification}}
          </p>
        {{/liquid-wormhole}}
      {{/if}}

      {{#if pinnedNotification}}
        {{#liquid-wormhole
          class="pinned-message bg-opaque border border-primary"
        }}
          <div class="text-right">
            <p class="mb-0 text-center text-primary font-weight-bold">
              {{pinnedNotification}}
            </p>

            <button
              class="btn btn-simple mt-3 p-0"
              {{action "unpinNotification"}}
            >
              Close
            </button>
          </div>
        {{/liquid-wormhole}}
      {{/if}}

    </div>
  </div>
</div>
