<div class="container-fluid full-screen top-spacer">

  {{stats-bar sendQuit=(action 'sendToScores')}}

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-6 mt-md-4">

      {{#if transactionAlert}}
        {{#liquid-wormhole class="transaction-alert bg-secondary border border-primary"}}
          <p class="mb-0 text-center text-black font-weight-bold">
            {{transactionAlert}}
          </p>
        {{/liquid-wormhole}}
      {{/if}}

      <div class="text-center border-bottom border-black mb-3">
        <h3 class="page-heading text-secondary">
          Shavings & Bone Bank
        </h3>
      </div>

      {{#if (gt playerDebt 0)}}
        {{bank/debt-payment isFirstTurn=isFirstTurn playerFunds=playerFunds playerDebt=playerDebt sendDebtPaidConfirm=(action 'confirmDebtPaid')}}
      {{else}}
        {{bank/debt-purchase isFirstTurn=isFirstTurn playerFunds=playerFunds sendToMarket=(action 'redirectToMarket')}}
      {{/if}}

    </div>
  </div>
</div>
